/* CSS Stylesheet for entire extension rather than by page or by element 
 * Reduces code reuse since we don't have a large extension to begin with. */

/* CSS Code for button from Google extension tutorial */
button {
    height: 30px;
    width: 30px;
    outline: none;
    margin: 10px;
    border: none;
    border-radius: 2px;
}
  
button.current {
    box-shadow: 0 0 0 2px white,
                0 0 0 4px black;
}